<h2>О нас</h2>
<p>Мы являемся...</p>

  <form action="/about" method="post" role="form">
    <p><b>Введите ваш отзыв:</b></p>
    <p><textarea rows="10" cols="45" class="form-control" name="feedback" placeholder="Оставьте отзыв о нашей работе"></textarea></p>
    <p><input type="submit" class="btn btn-danger" value="Отправить"></p>
  </form>