<h1>Наши контакты:</h1>
<li><a href="http://localhost:4567">Барбер Шоп</a></li>
<table class="table table-condensed" width="50%" border="0" cellpadding="4">
  <tr class="active">
    <td class="active">Наш адрес</td>
    <td class="success">гоород Город, Область, улица Улица, дом</td>
  </tr>
  <tr class="success">
    <td class="active">Наш телефонс</td>
    <td class="success">+79998882222</td>
  </tr>
  <tr class="warning">
    <td class="active">Электронная почта</td>
    <td class="success">original@domen.zona</td>
  </tr>
  <tr class="danger">
    <td class="active">Наш инстаграмм</td>
    <td class="success">@instabaroda</td>
  </tr>
